html {
    height: 100%;
    background: white;
}

.q::placeholder {
    opacity: 0.5;
}

.q:-moz-placeholder {
    opacity: 0.5;
}

.q:-ms-input-placeholder {
    opacity: 0.5;
}

.centercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    height: 100%;
    margin: 0
}

div.center {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

img.logo {
    width: 270px;
    max-width: 270px;
    margin-bottom: 40px;
}

img.logosmall {
    width: 130px;
    max-width: 130px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -4px;
}

.q {
    border: none;
    width: 580px;
    height: 45px;
    font-size: 20px;
    color: #000000cf;
    box-shadow: 0 0 0px 2px #0000001f;
    border-radius: 100px;
    padding: 10px 25px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.q:focus {
    box-shadow: 1px 2px 5px 2px #00000030;
    outline: none;
}

.hide {
    display: none !important
}

.resultpage {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.topbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    margin: 0;
    width: 100%;
    z-index: 1;
    height: 100px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px 0px #0000001f;
    transition: all 0.2s ease;
}

.tbcenter {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-left: calc(80vw - 100%);
    justify-content: space-between;
}

.q.top {
    box-shadow: 0 0 0px 1px #00000030;
}

.q.top:focus {
    box-shadow: 0 0 0px 1px #00000063;
}

.container,
.container-center,
.container-left {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px !important;
    margin-left: calc(100vw - 100%);
}

.container-center {
    width: 1000px;
    padding: 20px;
}

.container-left {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.pagersub > *:hover {
    background-color: #4285f41f;
    border: 1px #4285f41f solid;
}

.pagersub > * {
    margin: 0 5px;
    border-radius: 100%;
    border: 1px #00000040 solid;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0000006e;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.42, 1.62, 1, 0.98);
}

.pagersub > *.sel {
    background-color: #4286f429;
}

.pagersub > *.sel:hover {
    background-color: #4286f494;
}

.item > a.ititle {
    color: #1a0dab;
    word-wrap: break-word;
}

.item {
    display: inline;
    flex-direction: column;
    margin: 10px 0;
    word-wrap: break-word;
    word-break: break-all;
    overflow: visible;
    font-size: 18px;
}

.iinfo {
    color: hsla(0, 0%, 0%, 0.459);
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 20px;
    opacity: 0.6;
}

.minfo {
    box-sizing: border-box;
    border-color: #909090 transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    width: 0;
    height: 0;
    margin-left: 5px;
    cursor: pointer;
}

.template {
    display: none;
}

.pager {
    align-self: center;
    margin-bottom: 20px;
    position: absolute;
    bottom: 10px;
}

.pagersub {
    display: flex;
    justify-content: space-between;
}

.link {
    color: #004d00e7;
}

.stat {
    margin-bottom: 20px;
}

.kwsphs {
    opacity: 0.5;
}

.minfobox {
    position: absolute;
    width: 200px;
    height: fit-content;
    top: 300px;
    left: 200px;
    background: white;
    z-index: 1;
    box-shadow: 0px 3px 13px #00000059;
    padding: 10px;
    font-size: small;
    transition: all 0.2s ease;
    word-wrap: break-word;
    word-break: break-all;
}

.kws,
.phs,
.mergedurls {
    opacity: 0.6;
}

.match {
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #e7384466;
}

.minfobox .one,
.minfoitem .one {
    margin: 0 2px;
}

.minfobox .onerow {
    display: block;
}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.row1 {
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 30px;
}

.right,
.left {
    margin: 5px;
    margin-right: 20px;
}

.right > *,
.left > * {
    padding: 5px;
    font-size: small;
    opacity: 0.5;
    cursor: pointer;
}

.minfoitem {
    box-shadow: inset 0 0px 10px 1px #00000024;
    padding: 10px;
    overflow: scroll;
    transition: all 0.2s ease;
}

.container-right {
    flex: 1
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    left: 0;
    top: 0;
    display: none;
}

.modalbox {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ffffff;
    z-index: 1000;
    width: 500px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 4px;
    /* box-shadow: 5px 3px 0px 0px #00000042; */
    display: none;
    transition: all 0.2s ease;
    padding: 25px;
}

.header {
    padding: 5px 0;
}

.type {
    background-color: #bdbdbd;
    color: #ffffff;
    padding: 0 5px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    opacity: 0.6;
    white-space: nowrap;
    margin: 4px!important;
}

.zsinfo,
.ztinfo,
.zuinfo{
    font-size: small;
    opacity: 0.5;
}

.zsinfo:before {
    content: "ZeroSites";
    color: #ee0a73;
}

.ztinfo:before {
    content: "ZeroTalk";
    color: #db3207;
}

.zuinfo:before {
    content: "ZeroUp";
    color: #4c31ff;
}

.ztvote::before {
    content: "\f005";
    font-size: 15px;
    font: normal normal normal 14px/1 FontAwesome;
}

.zsinfo > * {
    margin-right: 5px;
}

span.zsstar:after {
    content: "\f005";
    font-size: 15px;
    font: normal normal normal 14px/1 FontAwesome;
}

span.zspeer:after {
    content: "\f007";
    font-size: 15px;
    font: normal normal normal 14px/1 FontAwesome;
}

.topbar.top {
    box-shadow: 0 2px 0px 1px #0000000d;
}

.card {
    flex: 1;
    box-shadow: 3px 3px 3px -2px #0000001a;
    border-radius: 5px;
    border: 1px #ddd solid;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    max-height: 500px;
    max-width: 350px
}

.card * {
    font-size: 15px;
    color: #000000e0;
    text-decoration: none;
}

.card a:hover {
    box-shadow: 0 1px 0px 0 #000000b3;
}

.card a {
    box-shadow: 0 1px 0px #00000040;
    transition: all 0.2s ease;
}

a {
    text-decoration: none;
}

.cardsmall {
    font-size: 15px;
    margin: 5px 0 0 0;
    opacity: 0.7;
    border-bottom: 1px #ddd solid;
    padding-bottom: 5px;
}

.cardbody hr {
    display: none;
}

.cardtype {
    box-shadow: 0 0 0px 1px #000000e0;
    border-radius: 5px;
    border: 3px solid transparent;
    border-bottom: 0px;
    border-top: 0px;
}

.container-left > .card {
    margin: 0;
}

.settingbtn {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: calc((100% - 580px) / 2 + 20px);
    bottom: calc((100% - 150px) / 2 + 62px);
    cursor: pointer;
    opacity: 0.2;
    font-size: 20px;
    transition: all 0.2s ease;
}

.settingbtn::before {
    content: "\f013";
}

.settingbtn:hover {
    opacity: 0.5;
}

.settingspage .container:first-child {
    padding-bottom: 0 !important;
}

.description > * {
    font-size: small;
    margin-left: 10px;
    opacity: 0.7;
}

.followedCorsItem {
    color: #ddd
}

.corsinsettings .header:after {
    content: "Enbaled";
    font-size: small;
    color: #e72e2e;
    opacity: 0.5;
    margin-left: 5px;
}

.container-left .card{
    margin-bottom: 10px;
}

@media screen and ( max-width: 1000px) {
    img.logosmall {
        margin: initial;
        margin-right: 30px;
    }

    .tbcenter {
        margin-left: initial;
    }

    .container-left {
        width: 500px;
    }
}

@media screen and ( max-width: 760px) {
    .q {
        width: 80%;
    }

    img.logo {
        width: 50%;
    }

    .container-center {
        width: 100%;
    }

    .container-left {
        width: 100%;
    }

    .container {
        padding: 35px;
        padding-top: 100px;
    }

    .modalbox {
        width: 100%;
        border: none;
        border-radius: 0;
    }

    .settingbtn {
        right: 20px;
        bottom: 15px;
    }
}

@media screen and ( max-width: 480px) {
    .topbar {
        flex-direction: column;
    }

    .q.top {
        margin-bottom: 5px;
        width: 100%;
        height: 35px;
    }

    img.logosmall {
        margin: 10px 0px;
        height: 35px;
    }

    .container {
        padding: 20px;
        padding-top: 100px;
    }

    .row1 {
        display: flex;
        align-items: center;
        height: 35px;
        flex-direction: column;
    }

    .row2 {
        display: none;
    }

    .row1 {
        margin-top: 0;
    }

    .container-right {
        display: none
    }

    .card {
        max-height: 200px;
    }
}